.listing {
  margin-top: 60px;
  color: $color-black;
  padding-top: 10px;
  padding-bottom: 20px;
  @include desktopSmall {
    padding-bottom: 50px;
  }
  &--title {
    font-size: $font-size-xlarge;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &--no-result-img {
    display: block;
    margin: 12vh auto 20vh;
    width: 240px;
  }
  &__filter {
    &__form {
     
      background: rgba(40, 40, 40, 0.8);
      width: 560px;
      padding: 15px;
      //position:relative;
      //left:50%;
      //top:95%;
      transform: translate(20%, 35%);
      //
      //background-color: transparent;
      text-align: center;
      //border: $gray-border;
      display: block;
      //width: 150px;
      //height: 44px;
      //text-transform: uppercase;
      //font-size: $font-size-small;
      //margin-left: calc(50% - 50px);
      
      @include tablet {
        top: 190px;
      }
      @include desktopSmall {
        
        display: flex;
        width: 900px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 8px;
        position :flex;
      }
      @include desktopMedium {
        top: 170px; 
      }
      @include desktopLarge {
        top: 190px;
      }
      @include desktopMega {
        top: 260px;
      }
      h2 {
        @include showTextShadow;
        font-size: $font-size-large;
        text-align: center;
        @include desktopSmall {
          width: 100%;
          font-size: $font-size-mega;
        }
        @include desktopMedium {
          font-size: calculateRem(30px);
          letter-spacing: 1.2px;
        }
        
      }
      
      select {
        height: 43px;
        background: white;
        width: 10%px;
        border: 0px solid #bd0021;
        color: #585858;
        font-size: $font-size-large;
        text-indent: 14px;
        //width: 80%;
        margin-left: 10%;
        @include desktopSmall {
          //padding-left: 20px;
          height: 50px;
          margin-left: 0;
          width: 17%;
          //@include backgroundIcon("down-arrow.svg", 20px, 120px center);
          -webkit-appearance: none;
          appearance: none;
          
        }
      }
      
      input  {
        //padding: 16px;
        border: 0px solid #bd0021;
        width: 32.7% ;
        //margin-left: 10%;
        font-size: $font-size-large;
      }
      
      button {
        font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
        width: 80%;
        height: 42px;
        margin-left: 10%;
        background-color: #D73B10;
        //outline: 1px solid #D73B10;
        color: white;
        font-weight: 900;
        border: none;
        font-size: $font-size-large;
        letter-spacing: 0.1px;
        //padding-top: 3px;
        text-transform: uppercase;
        @include desktopSmall {
          height: 50px;
          width: 17%;
          margin-left: 0;
        }
      }
    }
    &--expose-filter-btn {
      //@include backgroundIcon("controls.svg", 24px, 5px 10px);
      font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
      background-color: gray;
      text-align: center;
      border: $gray-border;
      display: block;
      width: 150px;
      height: 42px;
      text-transform: uppercase;
      font-size: $font-size-small;
      margin-top: calc(5% - 90px);
      margin-left: calc(95% - 90px);
      font-weight: 900;
      color: #D73B10;
      &:hover {
        border-color: $color-green;
      }
    }
    &-form {
      height: 40;
      opacity: 0;
      transition: height 0.3s $transition, opacity 0.4s $transition 0.1s;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include desktopSmall {
        max-width: 980px;
        margin: 0 auto;
      }
      .redux-input-container {
        width: 49%;
        
        @include desktopSmall {
          margin-bottom: 0;
          width: 16.5%;
        }
      }
      &-btn {
        width: 80% ;
        margin-top: 26px;
        background: $color-green no-repeat 16% center ;
        background-size: 18px ;
        font-size: $font-size-medium ;
        height: 160px ;
        @include desktopSmall {
          width: 13% !important;
        }
      }
    }
  }
  &__sort {
    width: 250px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-title;
    label {
      font-size: $font-size-medium;
      padding-top: 6px;
      width: 56px;
    }
    select {
      width: 196px;
      height: 60px;
      padding-top: 2px;
      padding-bottom: 2px;
      background: transparent;
      border: $gray-border;
      color: #7a7a7a;
      text-indent: 5px;
      font-size: $font-size-large;
    }
  }
  &__container {
    @include desktopSmall {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    &-item {
      display: block;
      margin-bottom: 30px;
      margin-top: 50%;
     position: relative;
      @include tablet {
        display: flex;
        border-bottom: $gray-border;
        border-top: $gray-border;
        margin-bottom: 62px;
        &:hover {
          border-bottom: 1px solid $color-yellow;
          border-top: 1px solid $color-yellow;
        }
      }
      @include desktopSmall {
        width: 47%;
      }
      &-img {
        max-width: 100%;
      }
      &-info {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @include tablet {
          padding: 13px 0 0 20px;
          width: 100%;
        }
        &-title {
          font-size: $font-size-medium;
          font-family: $font-family-body;
          margin-top: 0;
          margin-bottom: 5px;
          @include tablet {
            font-size: $font-size-large;
            margin-bottom: 10px;
          }
        }
        &-location {
          font-size: $font-size-small;
          text-transform: capitalize;
        }
        &-icons {
          margin-top: 22px;
          @include tablet {
            margin-top: 30px;
          }
          span {
            font-family: $font-family-title;
            font-size: $font-size-medium;
            padding: 12px 0 3px 28px;
            margin-right: 19px;
          }
          &-rooms {
            @include backgroundIcon("rooms.svg", 22px, 0 center);
          }
          &-area {
            @include backgroundIcon("area.svg", 22px, 0 center);
          }
          &-floor {
            @include backgroundIcon("floor.svg", 22px, 0 center);
          }
        }
        &-price {
          font-size: $font-size-mega;
          font-weight: 900;
          float: left;
          margin-top: 16px;
          @include tablet {
            margin-top: 23px;
          }
        }
        &-date {
          margin-top: 8px;
          float: right;
          font-size: $font-size-medium;
          color: #9ca7af;
          padding: 12px 0 10px 25px;
          @include backgroundIcon("calendar.svg", 20px, 0 center);
          @include tablet {
            margin-top: 16px;
          }
        }
        &-age {
          position: absolute;
          top: 5px;
          left: -5px;
          padding: 3px 6px 1px;
          font-size: $font-size-small;
          background-color: $color-yellow;
          box-shadow: 2px 2px 0 #d8a23e;
          color: $color-black;
          font-weight: 900;
        }
      }
      &--type {
        font-weight: 900;
        display: block;
        width: 80px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-yellow;
        color: $color-black;
        font-size: $font-size-small;
        padding-top: 4px;
        text-align: center;
        padding-bottom: 2px;
      }
    }
  }
}
