.body{ //background-color: rgba(230, 230, 230, 1);
  background-color: white;
   
}

.nav {
  background-color:  rgba(69, 69, 69, 1);
  margin-top : 0px;
  width: 130vw;
  height:140px;
  //left: 50%;
  transform: translateX(-8%);
  margin-left:0;
}

.listing {
  @include navbarGap;
  
  margin-top: 60px;
  color: $color-black;
  padding-top: 10px;
  padding-bottom: 20px;
  @include desktopSmall {
    padding-bottom: 50px;
  }
  &--title {
    font-size: $font-size-xlarge;
   text-align: left;
   padding-left:80px;
   padding-top:10px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color:  white;
    font-weight: 150;
    width: 120vw;
    height:50px;
    left: 50%;
    transform: translateX(-7%  );
    font-family: $font-family-title;
    &--titre {
      font-weight:550;
      font-family: $font-family-title;
      font-size:18px;
    }
  }
  &--no-result-img {
    display: block;
    margin: 12vh auto 20vh;
    width: 240px;
  }
  &__filter {
    &__form {
     
      
      width: 1000px;
      //padding: 15px;
      //position:flex;
      //left:50%;
      //top:95%;
      transform: translate(28%, 35%);
      //
      //background-color: transparent;
      text-align: center;
      //border: $gray-border;
      //display: block;
      //width: 150px;
      //height: 44px;
      //text-transform: uppercase;
      //font-size: $font-size-small;
      //margin-left: calc(8% - 50px);
      margin-top: calc(10% - 50px);
      @include tablet {
        top: 190px;
      }
      @include desktopSmall {
        
        display: flex;
        width: 1000px;
        flex-wrap: wrap;
        justify-content: space-between;
        //padding-right: 100px;
        //padding-left: 100px;
        //padding: 8px;
        position :flex;
      }
      @include desktopMedium {
        top: 170px; 
      }
      @include desktopLarge {
        top: 190px;
      }
      @include desktopMega {
        top: 260px;
      }
      h2 {
        @include showTextShadow;
        font-size: $font-size-large;
        text-align: center;
        @include desktopSmall {
          width: 100%;
          font-size: $font-size-mega;
        }
        @include desktopMedium {
          font-size: calculateRem(30px);
          letter-spacing: 1.2px;
        }
        
      }
      
      select {
        height: 43px;
        background: white;
        width: 10%px;
        border: 0px solid #bd0021;
        color: #585858;
        font-size: $font-size-large;
        text-indent: 14px;
        //width: 80%;
        margin-left: 10%;
        @include desktopSmall {
          //padding-left: 20px;
          height: 50px;
          margin-left: 0;
          width: 15.2%;
          //@include backgroundIcon("down-arrow.svg", 20px, 120px center);
          -webkit-appearance: none;
          appearance: none;
          
        }
      }
      
      input  {
        //padding: 16px;
        border: 0px solid #bd0021;
        width: 15.2% ;
        
        //margin-left: 10%;
        font-size: $font-size-large;
      }

      input[type=number]::-webkit-inner-spin-button, 
      input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
         margin: 0; 
      }

      /* For Firefox */
      input[type='number'] {
        -moz-appearance:textfield;
      }
      
      button {
        font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
        width: 80%;
        height: 42px;
        margin-left: 10%;
        background-color: #D73B10;
        //outline: 1px solid #D73B10;
        color: white;
        font-weight: 900;
        border: none;
        font-size: $font-size-large;
        letter-spacing: 0.1px;
        //padding-top: 3px;
        text-transform: uppercase;
        @include desktopSmall {
          height: 50px;
          width: 20%;
          margin-left: 2%;
        }
        &:hover {
          background: rgba(180,51,14,1)
        }
      }
    }
    &--expose-filter-btn {
      //@include backgroundIcon("controls.svg", 24px, 5px 10px);
      font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
      background-color: transparent;
      text-align: center;
      border: transparent;
      display: block;
      width: 150px;
      height: 42px;
      text-transform: uppercase;
      font-size: $font-size-large;
      margin-top: calc(4% - 90px);
      margin-left: calc(88% - 90px);
      font-weight: 900;
      color: white;
      &:hover {
        border-color: transparent;
        text-decoration: underline; 
      }
    }
    &-form {
      height: 40;
      opacity: 1;
      //transition: height 0.3s $transition, opacity 0.4s $transition 0.1s;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      transform: translate(28%, 5%);
      //margin-left:285px;
      //position: flex;
    //margin-left:10%;
      //margin-right: 10% ;
      @include desktopSmall {
        max-width: 1000px;
        
      }
      .redux-input-container {
        width: 80%;
        //height: 150;
        
        @include desktopSmall {
          margin-bottom: 0;
          width: 15.1%;
          //height:150;
        }
      }
      &-btn {
        width: 80% ;
        margin-top: 20px;
        background: $color-green no-repeat 16% center ;
        background-size: 80px ;
        font-size: $font-size-large ;
        height:20%;
        @include desktopSmall {
          width: 20% ;
          margin-left : 2%;
          //background-size: 80px ;
          //height: 380px ;
          //height:20%;
          
        }
        &:hover {
          background: rgba(180,51,14,1)
        }
      }
    }
  }
  &__sort {
    width: 250px;
    position: flex;
    margin-left:80%;
    display: flex;
    justify-content: space-between;
    font-family: $font-family-title;
    label {
      font-size: $font-size-large;
      padding-top: 6px;
      width: 66px;
    }
    select {
      width: 196px;
      height: 40px;
      padding-top: 2px;
      padding-bottom: 2px;
      background: transparent;
      border: $gray-border;
      color: $color-green;
      text-indent: 5px;
      font-size: $font-size-large;
    }
  }
  &__container2 {
    @include desktopSmall {
      
 
  
      margin-left:0;
      margin-right:0;
      right:90%;
      width: 40%;
    }
  }

  &__container {
    @include desktopSmall {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //margin-right: 0;
      //height:200px;
      
    }
    &-item {
      
      display: flex;
      overflow: hidden;
      margin-top: 1%;
      margin-left:0;
      position: relative;
      background-color: white;
      //height:2500px;
      //width: 1000px;
      @include tablet {
       display:  flex;
       

        //margin-left:0;
        border-bottom: $gray-border;
        border-top: $gray-border;
        border-right: $gray-border;
        border-left: $gray-border;
        //margin-bottom: 62px;
        //margin-right:0;
        &:hover {
          border-bottom: 3px solid  rgba(69, 69, 69, 0.3);
          border-top: 3px solid  rgba(69, 69, 69, 0.3);
          border-right: 3px solid  rgba(69, 69, 69, 0.3);
          border-left: 3px solid  rgba(69, 69, 69, 0.3);
          transition:0.3s;
        }
      }
      @include desktopSmall {
        width: 80%;
      }
      &-img {
        max-width: 40%;
        
        //max-width: 200%;
        //max-height:800px;
        @include desktopSmall {
          width: 50%;
          
        }
      }
      &-icons2 {
        margin-top: 12px;
        
        @include tablet {
          margin-top: 25px;
          margin-left : 1500px;
        }
        &-3d {
          @include backgroundIcon("3d.svg", 20px, 0 center);
          //margin-left : 500px;
          float:left;
        }
      }
      &-info {
        //overflow: auto;
        //flex:1;
        //white-space: nowrap;
        text-overflow: ellipsis;
        @include tablet {
          padding: 13px 0 0 20px;
          width: 100%;
        }
        &-title {
          //text-transform: uppercase;
          text-transform: uppercase;
          font-size: $font-size-medium;
          font-family: $font-family-body;
          margin-top: 0;
          margin-bottom: 5px;
          color:$color-green;
          @include tablet {
            font-size: $font-size-xlarge;
            margin-bottom: 10px;
          }
        }
        &-detail {
          //text-transform: uppercase;
          //text-transform: uppercase;
          font-size: 16px;
          line-height: 1.2;
          color: #8f8f8f;
          overflow: hidden; 
          font-weight: 500;
          //font-size: $font-size-tiny;
          font-family: $font-family-body;
          margin-top: 15px;
          margin-bottom: 5px;
          //color:$color-green;
          @include tablet {
            //font-size: $font-size-tiny;
            margin-bottom: 10px;
            overflow: hidden; 
          }
        }
        &-pret {
          //text-transform: uppercase;
          //text-transform: uppercase;
          overflow: hidden; 
          font-weight: 400;
          font-size: $font-size-medium;
          font-family: $font-family-body;
          margin-top: 15px;
          margin-bottom: 5px;
          background-color: lightgray;
          //color:$color-green;
          @include tablet {
            font-size: $font-size-medium;
            margin-bottom: 10px;
            overflow: hidden; 
          }
        }
        &-location {
          font-size: $font-size-large;
          font-family: $font-family-body;
          text-transform: capitalize;
          margin-bottom: 0px;
        }
        
        &-icons {
          margin-top: 12px;
          @include tablet {
            margin-top: 25px;
          }
          span {
            font-family: $font-family-title;
            font-size: $font-size-medium;
            padding: 12px 0 3px 28px;
            margin-right: 19px;
          }
          &-rooms {
            @include backgroundIcon("rooms.svg", 22px, 0 center);
          }
          &-area {
            @include backgroundIcon("area.svg", 22px, 0 center);
          }
          &-floor {
            @include backgroundIcon("floor.svg", 22px, 0 center);
          }
          &-vip {
            margin-left:155px;
            
            @include backgroundIcon("vip.svg", 28px, 0 center);
          }
          &-3d {
            @include backgroundIcon("3d.svg", 22px, 0 center);
          }
          &-360d {
            @include backgroundIcon("360d.svg", 22px, 0 center);
          }
        }
        &-price {
          font-size: 29px;
          margin-right: 4%;
          font-family: $font-family-body;
          font-weight: 500;
          float: left;
          //margin-top: 16px;
          @include tablet {
           // margin-top: 23px;
           //padding: 2px;
          }
        }
        &-date {
          margin-top: 8px;
          float: right;
          font-size: $font-size-medium;
          color: #9ca7af;
          padding: 12px 0 10px 25px;
          @include backgroundIcon("calendar.svg", 20px, 0 center);
          @include tablet {
            margin-top: 16px;
          }
        }
        &-age {
          position: absolute;
          top: 5px;
          left: -5px;
          padding: 3px 6px 1px;
          font-size: $font-size-small;
          background-color: $color-yellow;
          box-shadow: 2px 2px 0 #d8a23e;
          color: $color-black;
          font-weight: 900;
        }
      }
      &--type {
        font-weight: 900;
        display: block;
        width: 30px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: $color-yellow;
        color: $color-black;
        font-size: $font-size-small;
        padding-top: 6px;
        text-align: center;
        padding-bottom: 8px;
      }
      &--3d {
        //@debugfont-weight: 900;
        //display: block;
        width: 30px;
        position: absolute;
        bottom: 10px;
        left: 300px;
        background: transparent;
        color: $color-black;
        font-size: $font-size-small;
        padding-top: 6px;
        text-align: center;
        padding-bottom: 8px;
        @include backgroundIcon("3d.svg", 30px, 0 center);
      }
      &--360d {
        //@debugfont-weight: 900;
        //display: block;
        width: 30px;
        position: absolute;
        bottom: 10px;
        left: 260px;
        background: transparent;
        color: $color-black;
        font-size: $font-size-small;
        padding-top: 6px;
        text-align: center;
        padding-bottom: 8px;
        @include backgroundIcon("360d.svg", 22px, 0 center);
      }
    }
  }

}

.trios {
  font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
  //position: relative;
  //width: 100%;

  // added
    overflow-x: hidden;
    height: 80vh;
    width:1600px;
    margin-left:0;
    background-size: cover;
    background-position: center;
    transition: 3.5s;
    transform: translateX(-10%  );
    margin-top : 40px;


p {
  margin-top: 20%;
  font-family: Roboto,"Noto Sans","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
  font-size: $font-size-xxlarge;
   text-align: center; 
   color:white;
  }

  
}