doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel='stylesheet', href='/static/admin/styles/payment.css')
    link(rel='stylesheet', href='/static/admin/styles/navigation.css')
  body
    .nav
      a(href="/admin/payments") Dashboard
      a(href="/admin/users") Club VIP 
      a.active(href="/admin/adverts") List des biens
      a(href="/admin/enquires") GED
      a.logout(href="/admin/logout") Logout
    .alert=alert
    .payment