.trio {
  font-family: "Roboto Condensed","Noto Sans Condensed","Noto Sans JP","Noto Sans KR","Noto Sans SC Sliced",sans-serif;
  //position: relative;
  //width: 100%;

  // added
    overflow-x: hidden;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: 2.5s;
}
